version: 2.1

orbs:
  node: circleci/node@5.0.2
  slack: circleci/slack@4.12.5

# ============================================================
# COMMANDS
# ============================================================
commands:

  # Jobs to be executed
jobs:
  build:
    runs-on: arc-ent

    steps:
      # Checkout the code in the pull request
      - name: "Checkout source code"
        uses: actions/checkout@v2
        with:
          # Because scheduled jobs always run on the latest commit of the default branch,
          # you must define the branch you are checking out with the 'ref' attribute
          ref: BRInt
          path: Bedrock 

      # Write SF dev auth url to file
      - name: Write Token to File
        run: "echo ${{ secrets.SFDX_INTQA_AUTH_URL}} > token.txt"

      # Setup Node Actions
      - name: Setup Node Actions
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      # Install NPM
      - name: Install NPM
        run: "npm install -g latest"

      # Install SF CLI
      - name: Install Salesforce CLI
        run: "npm install @salesforce/cli --global"

      # Ensure SF CLI is updated to latest version
      - name: Update Salesforce CLI
        run: "npm update --global @salesforce/cli"

      # Auth to devhub with stored token
      - name: Auth with DevHub
        run: "sf auth sfdxurl store -f token.txt -a targetOrg -d"

      # Find the Latest Tag
      - name: Find Most Recent Tag
        id: tag_finder
        run: | 
          cd Bedrock
          git fetch --tags
          currentRef=0

          # Store tags in a variable
          tags=$(git tag -l 'INTQA-[0-9]*' | sort -V)
          
          if [ -n "$tags" ]; then
            for tag in $tags; do
              refNum=$(echo $tag | cut -d '-' -f 2)
              if test $refNum -gt $currentRef; then
                  currentRef=$refNum
                  currentTag=$tag
              fi
            done
          else
            echo "No Tags Found..."
            currentRef=0
          fi
        
          echo "Current Ref: $currentRef"
          echo "ref=$currentRef" >> $GITHUB_OUTPUT
      
      # Get the Tag from the last deployment. 
      - name: Build the Package Manifest
        id: build_manifest
        shell: bash
        run: |
            cd Bedrock/Bedrock
            oldIFS="$IFS"
            IFS=$'\n'

            git diff --diff-filter=ACMR --name-only INTQA-${{ steps.tag_finder.outputs.ref }} HEAD | cut -b 9- | grep '^force-app/' > files.txt || true
            
            if [ -s files.txt ]; then
                echo "Files to include in manifest:"
                line_count=$(wc -l < files.txt)
                if [ $line_count -gt 0 ]; then
                    sf project generate manifest -p $(cat files.txt)
                    echo "changesFound=true" >> $GITHUB_OUTPUT
                else 
                    echo "No new commits to deploy to INTQA."
                    echo "changesFound=false" >> $GITHUB_OUTPUT
                    exit 0
                fi
            else 
                echo "No new commits to deploy to INTQA."
                echo "changesFound=false" >> $GITHUB_OUTPUT
                exit 0
            fi
            
            IFS="$oldIFS"

      # Change directory to where source is stored, push source to targetOrg
      - name: Push source
        if: ${{ steps.build_manifest.outputs.changesFound == 'true' }}
        run: |
          cd Bedrock/Bedrock
          if test -f package.xml; then
              sf project deploy start -w 360 -x package.xml -l RunLocalTests -o targetOrg 
          else 
              echo "No Package Found!"
              exit 1
          fi

      # If push was succesful, set new tag
      - name: Set New Tag
        if: ${{ steps.build_manifest.outputs.changesFound == 'true' }}
        run: |
          cd Bedrock
          git tag "INTQA-$(( ${{ steps.tag_finder.outputs.ref }} + 1 ))"
          git push origin "INTQA-$(( ${{ steps.tag_finder.outputs.ref }} + 1 ))"
