version: 2.1

orbs:
  node: circleci/node@5.0.2
  slack: circleci/slack@4.12.5

workflows:
  devint-validations:
    jobs:
      - validate-devint:
          filters:
            branches:
              only: BRInt        # <- base branch must be BRInt

jobs:
  validate-devint:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

      - node/install:
          node-version: "20"

      - run:
          name: Install Salesforce CLI
          command: |
            npm install -g @salesforce/cli
            sf --version

      - run:
          name: Write token to file
          command: |
            echo "$SFDX_DEVINT_AUTH_URL" > token.txt

      - run:
          name: Authenticate to DevHub
          command: |
            sf auth sfdxurl store -f token.txt -a targetOrg -d

      - run:
          name: Validate Metadata
          command: |
            cd Bedrock/Bedrock
            sf project deploy start \
              --dry-run \
              --test-level NoTestRun \
              --wait 360 \
              --target-org targetOrg \
              -d force-app

      - slack/notify:
          event: pass
          template: basic_success_1

      - slack/notify:
          event: fail
          template: basic_fail_1
